*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER/NAVBAR */
header{
    height: 70px;
}
.list-group{
    display: flex;
    flex-direction: row;
}
.search{
    background-color: #e5e5e5;
    border-radius: 7px;
}

.search-bar{
    width: 500px;
    background-color: #e5e5e5;
    border-radius: 7px;
}
.list-group i{
    color: black;
}
/* SIDEBAR */

.wrapper{
    height: calc(100vh - 70px);
    display: flex;
}
.nav-menu{
    background-color: #051e34;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MAIN */

.main{
    width: calc(100vw - 150px);
}
#btn-label{
    background-color: #165bba;
    border-radius: 15px;
    border: none;
    padding: 2px;
    font-size: 13px;
    margin: 1px;
    color: white;
}
#btn-label:hover{
    background-color: transparent;
}
.text{
    font-size: 30px;
    color: white;
}
i{
    color: white;
}
.text-2{
    font-size: 28px;
}
#btn-plus{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 7px;
    background-color:  #ba6be8;
}

/* TABELLA */

.btn-done{
    color: white;
    background-color: #198754;
    border-radius: 7px;
    padding: 1px;
    border: none;
}
.btn-process{
    color: white;
    background-color: #ffc107;
    border-radius: 7px;
    padding: 1px;
    border: none;
}
.btn-failed{
    color: white;
    background-color: red;
    border-radius: 7px;
    padding: 1px;
    border: none;
}
.table img{
    padding: 1px;
}
