*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER/NAVBAR */
header{
    height: 70px;
}
.list-group{
    display: flex;
    flex-direction: row;
}
.search{
    background-color: #e5e5e5;
    border-radius: 7px;
}

.search-bar{
    width: 500px;
    background-color: #e5e5e5;
    border-radius: 7px;
}

/* SIDEBAR */

.wrapper{
    height: calc(100vh - 70px);
    width: 150px;
    background-color: #051e34;
}
.aside-end{
    display: flex;
    flex-direction: column;
    
}

#sidebar ul li a{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 45px;
    line-height: 2;
}

